{% extends 'mybase.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
            <h3 id="item-1">{{ post.title }}</h3>
            <p>{{ post.text|safe }}</p>
            <h5 id="item-1-1">Дата записи:</h5>
            <p>{{ post.timestamp }}</p>
          </div>
    </div>
</div>

{% endblock %}