{% extends 'mybase.html' %}
{% block content %}

{% for book in books %}
<div class="card">
    <!-- <div class="card-header">
      Featured
    </div> -->
    <div class="card-body">
      <h5 class="card-title">{{ book.name }}</h5>
      <p class="card-text">{{ book.description[:50] }}</p>
      <a href="{{ url_for('main.more', id=book.id) }}" class="btn btn-primary">More..</a>
    </div>
</div>
{%endfor%}

<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item{% if not prev_url %} disabled{% endif %}">
        <a class="page-link" href="{{ prev_url or '#' }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link">{{ page }}</a></li>
      <li class="page-item{% if not next_url %} disabled{% endif %}">
        <a class="page-link" href="{{ next_url or '#' }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
</nav>

{% endblock %}