{% extends 'mybase.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
            <h3 id="item-1">{{ book.name }}</h3>
            <p>{{ book.description }}</p>
            <h5 id="item-1-1">Год издания</h5>
            <p>{{ book.year }}</p>
            <h5 id="item-1-2">Издательство</h5>
            <p>{{ book.publisher }}</p>
            <h5 id="item-3-1"></h5>
            <a href="{{ url_for('download_blob', id=book.id) }}" class="btn btn-primary">Download</a>
          </div>
    </div>
</div>

{% endblock %}