{% extends 'mybase.html' %}
{% block content %}

<div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" tabindex="0">
{% for post in posts%}
<div class="card">
    <!-- <div class="card-header">
      Featured
    </div> -->
    <div class="item-1">
      <h5 class="item-1-1"><a href="{{ url_for('main.article', id=post.id) }}">{{ post.title }}</a></h5>
      <p class="card-text">{{ post.text[:150]}}</p>
    </div>
</div>
{%endfor%}
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item{% if not prev_url %} disabled{% endif %}">
        <a class="page-link" href="{{ prev_url or '#' }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link">{{ page }}</a></li>
      <li class="page-item{% if not next_url %} disabled{% endif %}">
        <a class="page-link" href="{{ next_url or '#' }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}