{% extends 'mybase.html' %}
{% block content %}
<div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" tabindex="0">
    <div id="item-1">
      <h4>Item 1</h4>
      <p>...</p>
    </div>
    <div id="item-1-1">
      <h5>Item 1-1</h5>
      <p>...</p>
    </div>
    <div id="item-1-2">
      <h5>Item 1-2</h5>
      <p>...</p>
    </div>
    <div id="item-2">
      <h4>Item 2</h4>
      <p>...</p>
    </div>
    <div id="item-3">
      <h4>Item 3</h4>
      <p>...</p>
    </div>
    <div id="item-3-1">
      <h5>Item 3-1</h5>
      <p>...</p>
    </div>
    <div id="item-3-2">
      <h5>Item 3-2</h5>
      <p>...</p>
    </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item{% if not prev_url %} disabled{% endif %}">
      <a class="page-link" href="{{ prev_url or '#' }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link">{{ page }}</a></li>
    <li class="page-item{% if not next_url %} disabled{% endif %}">
      <a class="page-link" href="{{ next_url or '#' }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}